@model SchoolMIS.Models.TransferStdTable
<link href="~/Content/custom/customCSS.css" rel="stylesheet" />
<body>
    <div class="container-fluid p-2">
        <div class="row">
            <div class="d-flex justify-content-md-between pt-2 pb-4">
                <h4><b>د  شاګردانو سه پرچه اضافه کول</b></h4>
                <h4><b>Create Transfermation of Student</b></h4>

            </div>
        </div>
        @*<a id="getID" href="#" style="display:none" target="_blank">go</a>*@
        @*this is alert section*@
        <div id="resultMessage"></div>
        <div class="card p-4">
            <form id="TransferStdForm" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            <p class="control-label me-3  mb-0">شاکرد</p>
                            <div class="col-md-12">
                                <input type="text" name="RollNo" id="RollNo" class="form-control" style="width:100%" />
                                @*@Html.DropDownList("StudentID", null, htmlAttributes: new { id = "StudentID", @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="control-label me-3  mb-0">صنف</p>
                            <div class="col-md-12">
                                @*@Html.DropDownList("ClassID", null, htmlAttributes: new { id = "ClassID", @class = "form-control" })*@
                                <select type="text" name="ClassID" id="ClassID" class="form-control" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="control-label me-3  mb-0">مکتب ځخه</p>
                            <div class="col-md-12">
                                <input type="text" name="FromSchool" id="FromSchool" value="چاردیوال خصوصی ښوونځی" class="form-control" style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="control-label me-3  mb-0">مکتب ته</p>
                            <div class="col-md-12">
                                <input type="text" name="ToSchool" id="ToSchool" class="form-control" style="width:100%" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <p class="control-label me-3  mb-0"> د سه پارچی مخی تصویر</p>
                            <div class="col-md-12">
                                <input type="file" name="FrontImage" id="FrontImage" onchange="loadImage(this)" class="form-control" style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="control-label me-3  mb-0"> د سه پارچی شا تصویر</p>
                            <div class="col-md-12">
                                <input type="file" name="BackImage" id="BackImage" onchange="loadImage1(this)" class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="control-label me-3  mb-0"> تاریخ</p>
                            <div class="col-md-12">
                                <input type="text" name="Date" id="Date" class="form-control" style="width:100%" />
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="btn-group col-12 mt-4">
                                <a href="@Url.Action("Index","TransferStdTables")" class="btn  btn-outline-success border-bottom-success"> لیست ته شاتګ</a>
                                <button type="submit" class="btn btn-primary"> نوی معلومات اضافه کړئ</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-4 mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="" id="showImage" style="width: 98%; height: 137px; display: none; border-radius: 3%; border: 1px solid Gray" />
                                <img src="~/Content/image/UserIcon.png" id="hideImage" style="width: 96%; height: 137px; border-radius: 3%; border: 1px solid Gray" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="" id="showImage1" style="width: 98%; height: 137px; display: none; border-radius: 3%; border: 1px solid Gray" />
                                <img src="~/Content/image/UserIcon.png" id="hideImage1" style="width: 96%; height: 137px; border-radius: 3%; border: 1px solid Gray" />
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/persianDatepicker")

        <script>
            $(document).ready(function () {
             

                $("#Date").persianDatepicker({
                    format: 'YYYY/MM/DD',
                    autoClose: true
                });
            });
        </script>
    }
<script>
        $(document).ready(function () {

            @*$("#ClassID").click(function () {

                var studentID = $("#StudentID").val();
                var classID = $("#ClassID").val();

                if (studentID) {
                    $.ajax({
                        url: '@Url.Action("Attendency", "TransferStdTables")',
                        type: "get",
                        data: { id: studentID ,classID:classID},
                        success: function (response) {

                            $("#StudentAttendency").val(response.data.present).text(response.data.present)
                            $("#StudentScore").val(response.data.score).text(response.data.score)
                        },
                        error: function () {
                            alert("errore");
                        }


                    })
                } else {
                    alert("also erroer");
                }


            })*@
            $("#RollNo").on('change', function () {
               
                var rollNo = $("#RollNo").val();
                alert(rollNo)
                if(rollNo){
            $.ajax({
            url: '@Url.Action("ClassName", "TransferStdTables")',
            type: "Post",
                data: { rollNo: rollNo },
            success: function (response) {

                if (response != null) {
                    $("#ClassID").empty().append($('<option value=""> ټولګی وټاکئ</option>'));
                    $.each(response.data.ClassName, function (i, item) {
                        $("#ClassID").append($("<option>", {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                } 
            },
            error: function () {
                alert("errore");
            }


        })
    } else {
        alert("also erroer");
    }


})









        $("#TransferStdForm").validate({
            rules: {
                StudentID: {
                    required: true,
                },
                Date: {
                    required: true,

                },

                FromSchool: {
                    required: true,

                },
                ToSchool: {
                    required: true,

                },
                ClassID: {
                    required: true,

                },
            },
            submitHandler: function (form) {

                var formData = new FormData(form);
                formData.append("FrontImage", $("#FrontImage")[0].files[0]);
                formData.append("BackImage", $("#BackImage")[0].files[0]);

                $.ajax({
                    url: '@Url.Action("Create", "TransferStdTables")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                            $("#TransferStdForm")[0].reset();
                            window.location.href = response.redirectUrl;
                        } else {
                            $("#resultMessage").html("<div class='alert alert-danger'>" + response.msg + "</div>");
                        }
                    },
                    error: function () {
                        $("#resultMessage").html("<div class='alert alert-danger'>An error occurred.</div>");
                    }

                });
            }
        });

    });


        function loadImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader()
                reader.onload = function (e) {
                    $("#showImage").attr("src", e.target.result);
                    $("#showImage").show();
                    $("#hideImage").hide();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function loadImage1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader()
                reader.onload = function (e) {
                    $("#showImage1").attr("src", e.target.result);
                    $("#showImage1").show();
                    $("#hideImage1").hide();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

</body>

