@model SchoolMIS.Models.UserTable

<link href="~/Content/custom/customCSS.css" rel="stylesheet" />
<div class="d-flex justify-content-md-between container-fluid">
    <h4><b>د استعمالوونکی  بیارغول</b></h4>
    <h4><b>User  Edition</b></h4>

</div>

@*this is alert section*@
<div id="resultMessage"></div>

<form enctype="multipart/form-data" id="userForm">
    <div class="row card d-flex flex-row p-3 pt-5">
        @Html.AntiForgeryToken()
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    @Html.HiddenFor(model => model.UserID, new { @type = "hidden" })
                    <div class="form-group">
                        <p class="control-label me-3 mb-0">استعمالونکی ډول</p>
                        <div class="col-md-12">
                            @Html.DropDownList("UserTypeID", null, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <p class="control-label me-3  mb-0">نوم</p>
                        <div class="col-md-12">
                           
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @id = "UserName", @name = "UserName", @class = "form-control", style = "width:100%;height:40px" } })

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <p class="control-label me-3  mb-0">کوډ</p>
                        <div class="col-md-12">
                           
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "UserName", @name = "UserName", @class = "form-control", style = "width:100%;height:40px" } })

                        </div>
                    </div>

                    <div class="form-group" style="width:200px">
                        <p class="control-label me-3 mb-0">تصویر</p>
                        <div class="col-md-12">

                            <input type="file" id="Image" name="Image" accept="image/*" class="form-control" style="width:100%" onchange="loadImage(this)" /><br>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <div class="col-12 btn-group ">
                        <a href="@Url.Action("Index","UserTables")" class="btn t btn-outline-success border-bottom-success">لیست ته شاتګ</a>
                        <button type="submit" class="btn btn-primary">معلومات نوی کړئ</button>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-4 mt-4">
            <img src="~/Content/img/@Path.GetFileName(Session["UserImage"].ToString())" id="hideImage" style="width:100%;border-radius:3%;height:200px; " />
            <img src="~/Content/image/userIcon.jpg" id="showImage" alt="Image" style="width:100%;border-radius:3%;height:200px;display:none "  />

            
        </div>
    </div>
</form>

           






<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/custom/customJs.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
   $(document).ready(function () {

       $("#userForm").validate({
           rules: {
               UserName: "required",
               Password: "required",
               UserTypeID: "required",

           },
           submitHandler: function (form) {
               var formData = new FormData(form);

               if ($("#Image")[0].files[0]) {
                   formData.append("Image", $("#Image")[0].files[0]);
               } else {
                   formData.append("Image", '@Session["UserImage"]');
               }





               $.ajax({
                   url: '@Url.Action("Create", "UserTables")',
                   type: 'POST',
                   data: formData,
                   processData: false,
                   contentType: false,
                   success: function (response) {
                       if (response.success) {
                           $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                           $("#userForm")[0].reset();
                           window.location.href = response.redirectUrl;
                       } else {
                           $("#resultMessage").html("<div class='alert alert-danger'>" + response.msg + "</div>");
                       }
                   },
                   error: function () {
                       $("#resultMessage").html("<div class='alert alert-danger'>An error occurred.</div>");
                   }

               });
           }
       });
   });





    function loadImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader()
            reader.onload = function (e) {
                src = e.target.result;
                $("#showImage").attr("src", e.target.result);
                $("#hideImage").hide();
                $("#showImage").show();
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>