@model IEnumerable<SchoolMIS.Models.StaffTypeTable>
@{
    String Actions = "hidden";
    String creation = "hidden";


    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {

        if (Session["UserType"].ToString() == "admin" || Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "ادمین" || Session["UserType"].ToString() == "اډمین")
        {


            creation = "show";
            Actions = "show";


        }

    }
}
<div class="d-flex justify-content-md-between  py-2">
    <h4><b>د اداری کارکوونکی د ډول معلومات</b></h4>

    <p class="btn btn-group">
        <a href="@Url.Action("Dashboard","Home")" class="btn btn-primary"> کور صفحه</a>
        <a href="@Url.Action("Create","StaffTypeTables")" class="btn btn-success @creation"> نوی معلومات اضافه کړئ</a>

    </p>
    <h4><b>Staff Type Information</b></h4>
</div>
<div>
    <!-- DataTales Example -->
    <div class="card shadow  pre-scrollable">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-active">
                        <tr>
                            <th>شماره</th>
                            <th>وظیفه </th>
                            <th>تشریح</th>
                            <th class="@Actions">Action</th>
                        </tr>
                    </thead>
                    <tfoot class="table-active">
                        <tr>
                            <th>شماره</th>
                            <th>وظیفه </th>
                            <th>تشریح</th>
                            <th class="@Actions">Action</th>
                        </tr>
                    </tfoot>

                    @foreach (var item in Model)
                    {


                        <tbody>
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffTypeID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td class="@Actions">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "Edit", "StaffTypeTables", new { id = item.StaffTypeID }, new { @class = "btn btn-primary fa fa-edit" })
                                        @*<button class="btn btn-info btn-Details" data-id="@item.StaffTypeID"><i class="fa fa-info"></i></button>*@
                                        <button class="btn btn-danger btn-delete" id="btn" data-id="@item.StaffTypeID"><i class="fa fa-trash"></i></button>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    }
                </table>

            </div>
        </div>
    </div>

</div>





@* delete model*@
<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-between align-content-center border-dark">
                <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                <h4 class="modal-title text-center px-2"><b> ایا غواړی چی اداری کارکوونکی ډول لمنځه یوسی؟</b></h4>


            </div>
            <div class="modal-body px-4">

                @* this is alert section*@
                <div id="resultMessage"></div>
                <p><span id="Type" style="float:left"></span><strong style="float:right;">استعمالوونکی ډول :</strong> </p>
                <hr />
                <p> <span id="Description" style="float:left"></span><strong style="float:right">ډول تشریح :</strong></p>
                <hr />

            </div>
            <div class="modal-footer bg-danger text-white">
                <form id="deleteForm">
                    <input type="hidden" id="input" />
                    <button type="submit" class="btn btn-primary" id="submitbtn">هو</button>
                </form>
                <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal"> نه</button>
            </div>
        </div>
    </div>
</div>
@* details model*@
@*<div id="detailsModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white d-flex justify-content-between align-content-center border-dark">
                    <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                    <h4 class="modal-title text-center px-2"><b><span id="header"></span> معلومات</b></h4>


                </div>
                <div class="modal-body px-4">


                    <p><span id="type"></span><strong style="float:right;"> :استعمالوونکی ډول</strong> </p>
                    <hr />
                    <p> <span id="description"></span><strong style="float:right"> :ډول تشریح</strong></p>
                </div>
                <div class="modal-footer bg-danger text-white">

                    <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal">شا تګ</button>
                </div>
            </div>
        </div>
    </div>*@



<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {

        //this is detail section
     @*$('.btn-Details').click(function () {
     var id = $(this).data('id');


     // AJAX request to get student details
     $.ajax({
         url: '@Url.Action("Details", "StaffTypeTables")',
         type: 'POST',
         data: { id: id },
         success: function (response) {


             if (response.success) {

                 $('#header').text(response.data.Type);

                 $('#type').text(response.data.Type);
                 $('#description').text(response.data.Description);

                 // Show the modal
                 $('#detailsModal').modal('show');
             } else {
                 alert("errore occurd")
             }
         },
         error: function () {
             alert('An error occurred while fetching the details.');
         }
     });
 });*@




    //this is deletion section
        $('.btn-delete').click(function () {

          var id = $(this).data('id');
         // AJAX request to delete the record
         $.ajax({
             url: '@Url.Action("Delete", "StaffTypeTables")',
             type: 'POST',
             data: { id: id },
             success: function (response) {
                 if (response.success) {

                     $('#Type').text(response.data.Type);
                     $('#Description').text(response.data.Description);
                     $('#input').val(response.data.StaffTypeID)
                     //modal show
                     $('#deleteModal').modal('show');
                 } else {
                     alert(response.message);
                 }
             },
             error: function () {
               alert("errore")
             }
         });

        });

        //------------------------------
        $('#submitbtn').click(function (e) {
           e.preventDefault();  // Prevent the default form submission
           var id=parseInt($('#input').val());
            $.ajax({
                url: '@Url.Action("ConDelete", "StaffTypeTables")',
                type: 'POST',
                data: { id: id },  // Send the serialized data
                success: function (response) {

                    $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                  window.location.href = response.redirectUrl;
         },
         error: function () {
             alert("error occured");
         }
     });
 });
    });
</script>

