@model SchoolMIS.Models.UserTypeTable

<link href="~/Content/custom/customCSS.css" rel="stylesheet" />
<div class="container-fluid p-2">
    <div class="row">
        <div class="d-flex justify-content-md-between pt-2 pb-4">
            <h4><b> استعمالوونکی د ډول بیارغول</b></h4>
            <h4><b>User Type Edition</b></h4>

        </div>
    </div>
  

    @* this isalert section*@
    <div id="resultMessage"></div>
    <div class="row card d-flex flex-row">
        <div class=" col-5 p-4 pt-5 ">

            <form id="userTypeForm">
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.UserTypeID, new { @type = "hidden" })

                <div class="form-group">
                    <p class="control-label col-4 mb-0">استعمالونکی ډول</p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-4 mb-0">وضاحت</p>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>


                <div class=" col-md-9 btn-group mt-4">
                    <a href="@Url.Action("Index","UserTypeTables")" class="btn btn-outline-success border-bottom-success">لیست ته شاتګ </a>
                    <button type="submit" class="btn btn-primary" id="SubmitBtn">معلومات اضافه کول</button>
                </div>


            </form>

        </div>
        <div class=" col-7">
            <img src="~/Content/image/school5.png" style="width:600px;height:300px" />

        </div>
    </div>
    </div>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>

         $(document).ready(function () {
             $("#userTypeForm").validate({

                 submitHandler: function (form) {
                     var formData = $("#userTypeForm").serialize();

        $.ajax({
            url: '@Url.Action("Create","UserTypeTables")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                    $("#userTypeForm")[0].reset();
                    window.location.href = response.redirectUrl;
                } else {
                    $("#resultMessage").html("<div class='alert alert-danger'>" + response.msg + "</div>");
                }
            },
            error: function () {
                $("#resultMessage").html("<div class='alert alert-danger'>An error occurred.</div>");
            }
        });
    }
});
     });
   
    </script>
