<!DOCTYPE html>
<html dir="rtl">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <title>CPS MIS</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->




</head>
<body id="page-top">



    <div class="container-fluid">
        @RenderBody()





    </div>





    <div class=" row sticky-footer bg-primary  text-white py-2 mt-5 d-flex flex-row">



        <div class="col-md-8 col-sm-12 text-center">
            <h4 class="fw-bold"><b>     ادرس</b></h4>
            <h5>ننګرهار ولایت بټی کوټ ولسوالی چاردهی برکلی د مظهرالعلوم مدرسی تر څنګ</h5>
            <h4>چاردیوال خصوصی ښوونځی</h4>


        </div>

        <div class="col-md-4 col-sm-12 border-end ">
            <h4 class="fw-bold text-center mb-3"><b>موخی او اهداف</b></h4>
            <ul class="text-right ">
                <li> د نوی نسل سالمه روزنه</li>
                <li> ګران هیواد ته د تعلیم په مټ خدمت کول </li>
                <li> د تعلیم په  مرسته د ټولنی </li>
                <li> د نوی نسل سالمه روزنه</li>
            </ul>

        </div>
        <div class="col-md-12 col-sm-12 border-start ">
            <h4 class="text-center mb-3 pr-0"><b> زموږ سره اړیکه</b></h4>
            <div class=" d-flex flex-row justify-content-around ">
                <p class="fa fa-phone-alt  text-white">  <b> موبایل :</b><strong> 0779754189</strong></p>
                <p class="fab fa-whatsapp  text-white">   <b> واټساپ :</b><strong> 0780073091 </strong></p>
                <p class="fab fa-facebook  text-white">   <b> فیسبوک :</b><strong> Chardiwal Private School </strong></p>

                <p class="fa fa-envelope-square   text-white">    <b>ایمیل  :</b><strong> Chardiwal_P_School@gmail.com </strong></p>
            </div>

        </div>
    </div>
 


    @*<div class="sticky-footer  text-white d-flex align-content-end mb-0">

            <footer class="footer container-fluid border-top shadow-sm bg-gradient-dark text-white text-center  py-2">
                <div class="copyright text-center py-2">
                    <div>
                        <span>Copyright &copy;this is webssite is created for chardiwal private school by <b>Zaheer ahmad</b><small> chardiwal</small> in <b> @DateTime.Now.Year </b>  all right reserved with devoloper</span>
                    </div>
                    <div class="p-2">

                        <a href="#" class="btn btn-light btn-outline-danger border-light">  <i class="fab fa-whatsapp text-white"></i></a>
                        <a href="#" class="btn btn-light btn-outline-danger border-light">  <i class="fab fa-facebook text-white"></i></a>
                        <a href="#" class="btn btn-light btn-outline-danger border-light">  <i class="fab fa-instagram text-white"></i></a>
                        <a href="#" class="btn btn-light btn-outline-danger border-light">  <i class="fab fa-twitter text-white"></i></a>
                        <a href="#" class="btn btn-light btn-outline-danger border-light">  <i class="fa fa-envelope-square text-white"></i></a>
                    </div>


                </div>

            </footer>

        </div>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
