@{

    Layout = null;
}

<!DOCTYPE html>


<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/custom/customCSS.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>marksByClass</title>
</head>
<body class="pashtoFont p-4">
    <div class="container-fluid">
        <div class="col-12 d-flex flex-row justify-content-between  mb-3 p-3">

            <img src="~/Content/image/logo1.jpg" style="width:150px ;height:80px" />
            <div class="text-center">
                <h2><b>Chardiwal Private School چاردیوال خصوصی ښوونځی</b></h2>
                <h4><b>   شاګردانو صنف مخکی تګ  راپور  </b></h4>
            </div>
            <img src="~/Content/image/aei.jpg" style="width:150px ;height:80px" />

        </div>

        @using (Html.BeginForm("advancementAtOnce", "AdvancementTables", FormMethod.Post, new { @class = "hideInPrint" }))
        {
            <div class="row mb-4">
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-2 bg-light border">
                            <label class=" mt-1 fw-bold pe-3">صنف</label>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("ClassID", ViewBag.StudentList as SelectList, "صنف وټاکئ", new { @id = "ClassID", @class = "form-control hideInPrint" })

                        </div>

                    </div>
                </div>


                <div class="col-md-2">

                    <button type="submit" class="btn btn-primary hideInPrint" style="width:100%">   راپور جوړ کړئ </button>

                </div>
            </div>


        }

        @*<p class="alert alert-danger" >@ViewBag.msg</p>*@

        @ViewBag.msg
        @*<table class="table table-bordered ">*@
        <!--<thead class="">-->
        @*<tr>
        <th colspan="2" class="bg-light text-center">
            نوم :
            @{
                if (Model.Student != null)
                {
                    @Model.Student.Name;
                }
            }

        </th>*@

        @*<th class="bg-light text-center">
            پلار نوم :

            @{
                if (Model.Student != null)
                {
                    @Model.Student.FatherName;
                }
            }

        </th>*@

        @*<th class="bg-light text-center">
            نیکه نوم :
            @{
                if (Model.Student != null)
                {
                    @Model.Student.GrandFatherName;
                }
            }
        </th>*@

        @*<th class="bg-light text-center">
            صنف :
            @{
                if (Model.Student != null)
                {
                    @Model.Student.ClassTable.Name;
                }

            }
        </th>*@

        <!--</tr>
    </thead>-->
        @*</table>*@


        @{
            var Pass = ViewBag.Promoted as List<dynamic>;
            var Fail = ViewBag.Failed as List<dynamic>;
            var Mahroom = ViewBag.DroppedOut as List<dynamic>;
        }

        @*<div class="row my-3">
            <h4 class="text-center"><b>  د @ViewBag.ClassName  د محرومو او غیر محرومو شاګردانو لیست</b></h4>
        </div>*@
        <div class="row d-flex flex-row justify-content-between">

            <div class="col-md-4">
                <h5 class="text-center"><b>د  کامیابو شاګردانو لیست</b></h5>

                <table class="table table-bordered">
                    <thead class="table-active">
                        <tr>
                            <th>اساس </th>
                            <th> نوم</th>
                            <th> پلار نوم</th>
                            <th>  نمرو ٪</th>
                            <th>  غیر حاضری ٪</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Pass)
                        {
                            <tr>
                                <td>@student.RollNO</td>
                                <td>@student.Name</td>
                                <td>@student.FatherName</td>
                                <td>@student.marksPercentage</td>
                                <td>@student.absentPercentage</td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>


            <div class="col-md-4">
                <h5 class="text-center"><b>د  ناکامو شاګردانو لیست</b></h5>

                <table class="table table-bordered">
                    <thead class="table-active">
                        <tr>
                            <th>اساس </th>
                            <th> نوم</th>
                            <th> پلار نوم</th>
                            <th>  نمرو ٪</th>
                            <th>  غیر حاضری ٪</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Fail)
                        {
                            <tr>
                                <td>@student.RollNO</td>
                                <td>@student.Name</td>
                                <td>@student.FatherName</td>
                                <td>@student.marksPercentage</td>
                                <td>@student.absentPercentage</td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>

            <div class="col-md-4">
                <h5 class="text-center"><b>د محرومو شاګردانو لیست</b> </h5>
                <table class="table table-bordered">
                    <thead class="table-active">
                        <tr>
                            <th>اساس </th>
                            <th> نوم</th>
                            <th> پلار نوم</th>
                            <th>  نمرو ٪</th>
                            <th>  غیر حاضری ٪</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Mahroom)
                        {
                            <tr>
                                <td>@student.RollNO</td>
                                <td>@student.Name</td>
                                <td>@student.FatherName</td>
                                <td>0</td>
                                <td>@student.absentPercentage</td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>








    </div>
    <div class="col-12  d-flex flex-row justify-content-center" dir="ltr">

        <div>
            <a href="@Url.Action("Dashboard","Home")" id="hideInPrint" class="btn btn-success ">کور پاڼی ته شاتګ </a>
            <a class="btn btn-primary " id="hideInPrint" onclick="window.print()">PDF ذخیره کړئ </a>
            <a class="btn btn-primary  " id="hideInPrint" onclick="window.print()">راپور پرنټ کړئ </a>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script type="text/javascript"></script>


</body>
</html>
