@model IEnumerable<SchoolMIS.Models.AdvancementTable>
<div class="d-flex justify-content-md-between pt-2">
    <h4><b>د  شاګردانو ارتقا </b></h4>

    <p class="btn btn-group">
        @Html.ActionLink("   کور صفحه ", "Dashboard", "Home", null, new { @class = "btn btn-primary" })
        @Html.ActionLink(" نوی معلومات اضافه کړئ", "Create", "AdvancementTables", null, new { @class = "btn btn-success" })


    </p>
    <h4><b>Advancement of Student </b></h4>
</div>
<style>
    .left{
       float:left;
    }
    .right{
        float:right;
    }
  
</style>

<div class="card shadow  pre-scrollable ">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-active">
                    <tr>
                        <th>اساس</th>
                        <th>شاګرد</th>
                        <th>د صنف څخه</th>
                        <th>صنف ته</th>
                        <th>استاذ</th>
                        <th>تاریخ</th>
                        <th>نمری </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tfoot class="table-active">
                    <tr>
                        <th>اساس</th>
                        <th>شاګرد</th>
                        <th>د صنف څخه</th>
                        <th>صنف ته</th>
                        <th>استاذ</th>
                        <th>تاریخ</th>
                        <th>نمری </th>
                        <th>Action </th>
                    </tr>
                </tfoot>
                <tbody id="tbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentTable.RollNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassTable1.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.StaffTable.Name)
                            </td>
                            <td>
                                @SchoolMIS.Models.Converssion.ToShamsi(item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentScore)
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "Edit", "AdvancementTables", new { id = item.AdvancementID }, new { @class = "btn btn-primary fa fa-edit" })
                                    @*<button class="btn btn-info btn-Details" data-id="@item.AdvancementID"><i class="fa fa-info"></i></button>*@
                                    <button class="btn btn-danger btn-delete" data-id="@item.AdvancementID"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* delete model*@
<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-between align-content-center border-dark">
                <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                <h4 class="modal-title text-center px-2"><b> ایاغواړی شاګرد د ارتقا  معلومات لمنځه یوسی؟</b></h4>


            </div>
            <div class="modal-body">
                @* this is alert section*@
                <div id="resultMessage"></div>
                <div class="row">

                    <div class="col-6 card p-3 shadow">

                        <p><span id="DStaff" class="left"></span><strong class="right">استاذ :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="DFromClass" class="left"></span><strong class="right">صنف څخه : </strong> </p>
                       
                        <hr class="m-0 p-0" />
                        <p><span id="DDate" class="left"></span><strong class="right">تاریخ :</strong> </p>

                    </div>
                    <div class="col-6 card p-3 shadow">
                        <p><span id="DStudent" class="left"></span><strong class="right">شاګرد :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="DToClass" class="left"></span><strong class="right">صنف ته :  </strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DScore" class="left"></span><strong class="right">نمری : </strong></p>
                    </div>

                </div>

            </div>
            <div class="modal-footer bg-danger text-white">
                <form id="deleteForm">
                    <input type="hidden" id="input" />
                    <button type="submit" class="btn btn-primary" id="submitbtn">هو</button>
                </form>
                <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal"> نه</button>
            </div>
        </div>
    </div>
</div>

@* details modal*@
@*<div id="detailsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-between align-content-center border-dark">
                <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                <h4 class="modal-title text-center px-2"><b><span id="header"></span>ارتقا معلومات</b></h4>


            </div>
            <div class="modal-body " id="modelBody">
                <div class="row">
                    <div class="col-6 card p-3 shadow">
                        <p><span id="Staff"></span><strong  > :استاذ</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="ToClass"></span><strong  > :صنف ته</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="Date"></span><strong style="float:right;"> :تاریخ</strong> </p>
                    </div>
                    <div class="col-6 card p-3 shadow">
                        <p><span id="Student"></span><strong style="float:right;"> :شاګرد</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="FromClass"></span><strong  > : صنف څخه</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="Score"></span><strong  > : نمری</strong></p>
                    </div>
                </div>



            </div>

            <div class="modal-footer bg-danger text-white">
                <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal">شا تګ</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/Scripts/jquery-3.7.0.min.js"></script>

<script type="text/javascript"></script>
<script>
    $(document).ready(function () {
           //this is deletion section
       $('.btn-delete').click(function () {
         var id = $(this).data('id');
           $.ajax({

            url: '@Url.Action("Delete","AdvancementTables")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success) {
                    $('#input').val(response.data.AdvancementID);
                    $('#DDate').text(response.data.date);
                    $('#DStaff').text(response.data.staff);
                    $('#DFromClass').text(response.data.fromClass);
                    $('#DToClass').text(response.data.toClass);
                    $('#DStudent').text(response.data.student);
                    $('#DScore').text(response.data.studentScore);

                    //modal show
                    $('#deleteModal').modal('show');
                } else {
                    $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                }
            },
            error: function () {
              alert("errore")
            }
        });

       });
       //------------------------------ConfirmDeletion
       $('#submitbtn').click(function (e) {
          e.preventDefault();  // Prevent the default form submission
          var id=parseInt($('#input').val());
           $.ajax({
               url: '@Url.Action("ConDelete", "AdvancementTables")',
               type: 'POST',
               data: { id: id },  // Send the serialized data
               success: function (response) {
                 $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                 window.location.href = response.redirectUrl;
        },
        error: function () {
            alert("error occured");
        }
    });
});
 //this is for detail----------------------------------
        @*$('.btn-Details').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Details", "AdvancementTables")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $('#header').text(response.data.student);
                      
                        $('#Date').text(response.data.date);
                        $('#Staff').text(response.data.staff);
                        $('#FromClass').text(response.data.fromClass);
                        $('#ToClass').text(response.data.toClass);
                        $('#Student').text(response.data.student);
                        $('#Score').text(response.data.studentScore);

                        // Show the modal
                        $('#detailsModal').modal('show');
                    } else {
                        alert("errore occurd")
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the details.');
                }
            });
        });*@
});
</script>



