@model IEnumerable<SchoolMIS.Models.ExamTable>
@{
    String deletion = "hidden";
    String creation = "hidden";
    String edition = "hidden";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {

        if (Session["UserType"].ToString() == "admin" || Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "ادمین" || Session["UserType"].ToString() == "اډمین")
        {

            deletion = "show";
            creation = "show";
            edition = "show";

        }
        else
        {

            creation = "show";



        }

    }
}
<style>
    .left{float:left;}
    .right{float:right;}
</style>
<div class="d-flex justify-content-md-between pt-2">
    <h4><b>د  امتحاناتو معلومات</b></h4>

    <p class="btn btn-group">
        <a href="@Url.Action("Dashboard","Home")" class="btn btn-primary"> کور صفحه</a>
        <a href="@Url.Action("Create","ExamTables")" class="btn btn-success @creation"> نوی معلومات اضافه کړئ</a>

    </p>
    <h4><b>Exams  Information</b></h4>
</div>
<div class="card shadow  pre-scrollable ">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-active">
                    <tr>

                        <th>امتحان</th>
                        <th>مضمون</th>
                        <th>صنف</th>
                        <th>شاګرد</th>
                        <th>استاذ</th>
                        <th>تاریخ</th>
                        <th>نمری </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tfoot class="table-active">
                    <tr>

                        <th>امتحان</th>
 <th>مضمون</th>
 <th>صنف</th>
 <th>شاګرد</th>
 <th>استاذ</th>
 <th>تاریخ</th>
 <th>نمری </th>
 <th>Action </th>
                    </tr>
                </tfoot>
                <tbody id="tbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExamType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffTable.Name)

                            </td>
                            <td>
                                @SchoolMIS.Models.Converssion.ToShamsi(item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AbtainScore)
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a href="@Url.Action("Edit", "ExamTables", new { id = item.ExamID })" class="btn btn-primary fa fa-edit @edition"></a>
                                 
                                    <button class="btn btn-info btn-Details " data-id="@item.ExamID"><i class="fa fa-info"></i></button>
                                    <button class="btn bg-danger btn-delete @deletion" data-id="@item.ExamID"><i class="fa fa-trash text-white"></i></button>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* delete model*@
<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  text-white d-flex justify-content-between align-content-center border-dark" id="bg-danger">
                <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                <h4 class="modal-title text-center px-2"><b> ایا غواړی چی امتحان معلومات لمنځه یوسی؟</b></h4>


            </div>
            <div class="modal-body">
                @* this is alert section*@
                <div id="resultMessage"></div>
                <div class="row">
                    <div class="col-6 card p-3 shadow">

                        <p><span id="DStudent" class="left"></span><strong class="right">شاګرد نوم :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DTeacher" class="left"></span><strong class="right">ممتحن استاذ : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DSubject" class="left"></span><strong class="right">مضمون  : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DClass" class="left"></span><strong class="right">صنف : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DTotalScore" class="left"></span><strong class="right">ټولی نمري : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="DAbtainScore" class="left"></span><strong class="right">اخستل شوی نمري :</strong> </p>
                    </div>
                    <div class="col-6 card p-3 shadow">

                        <p><span id="DExamType" class="left"></span><strong class="right">امتحان ډول :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="DDate" class="left"></span><strong class="right">تاریخ :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DwrittenTest" class="left"></span><strong class="right">تحریری نمري : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="DverbalTest" class="left"></span><strong class="right"> تقریری نمري :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="DClassWork" class="left"></span><strong class="right"> صنفی لیاقت : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="DhomeWork" class="left"></span><strong class="right">  کورنی کار :</strong> </p>

                    </div>

                </div>

            </div>
            <div class="modal-footer bg-danger text-white">
                <form id="deleteForm">
                    <input type="hidden" id="input" />
                    <button type="submit" class="btn btn-primary" id="submitbtn">هو</button>
                </form>
                <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal"> نه</button>
            </div>
        </div>
    </div>
</div>

@* details modal*@
<div id="detailsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white d-flex justify-content-between align-content-center border-dark">
                <img src="~/Content/image/logo1.jpg" style="width:40px;border-radius:50%;" />

                <h4 class="modal-title text-center px-2"><b><span id="header"></span>امتحان معلومات</b></h4>


            </div>
            <div class="modal-body " id="modelBody">
                <div class="row">

                    <div class="col-6 card p-3 shadow">

                        <p><span id="Student" class="left"></span><strong class="right">شاګرد نوم :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="Teacher" class="left"></span><strong class="right">ممتحن استاذ : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="subject" class="left"></span><strong class="right">مضمون : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="Class" class="left"></span><strong class="right">صنف : </strong></p>
                        <hr class="m-0 p-0" />
                        <p> <span id="TotalScore" class="left"></span><strong class="right">ټولی نمري : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="AbtainScore" class="left"></span><strong class="right">اخستل شوی نمري :</strong> </p>

                    </div>
                    <div class="col-6 card p-3 shadow">
                        <p><span id="ExamType" class="left"></span><strong class="right"> امتحان ډول:</strong> </p>
                        <hr class="m-0 p-0" />
                        <p><span id="Date" class="left"></span><strong class="right">تاریخ :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="writtenTest" class="left"></span><strong class="right">تحریری نمري : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="verbalTest" class="left"></span><strong class="right"> تقریری نمري :</strong> </p>
                        <hr class="m-0 p-0" />
                        <p> <span id="ClassWork" class="left"></span><strong class="right"> صنفی لیاقت : </strong></p>
                        <hr class="m-0 p-0" />
                        <p><span id="homeWork" class="left"></span><strong class="right">  کورنی کار :</strong> </p>

                    </div>
                </div>



            </div>

            <div class="modal-footer bg-danger text-white">
                <button type="button" class="btn btn-secondary pe-2" data-bs-dismiss="modal">شا تګ</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>

<script type="text/javascript"></script>
<script>
    $(document).ready(function () {
           //this is deletion section
       $('.btn-delete').click(function () {
         var id = $(this).data('id');
           $.ajax({

            url: '@Url.Action("Delete","ExamTables")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success) {
                    $('#input').val(response.data.ExamID);
                    $('#DExamType').text(response.data.ExamType);
                    $('#DStudent').text(response.data.student);
                    $('#DTeacher').text(response.data.staff);
                    $('#DSubject').text(response.data.subject);
                    $('#DClass').text(response.data.className);
                    $('#DwrittenTest').text(response.data.writtenTest);
                    $('#DverbalTest').text(response.data.verbalTest);
                    $('#DClassWork').text(response.data.ClassWork);
                    $('#DhomeWork').text(response.data.homeWork);
                    $('#DDate').text(response.data.date);
                    $('#DTotalScore').text(response.data.TotalScore);
                    $('#DAbtainScore').text(response.data.AbtainScore);


                    //modal show
                    $('#deleteModal').modal('show');
                } else {
                    $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                }
            },
            error: function () {
              alert("errore")
            }
        });

       });
       //------------------------------ConfirmDeletion
       $('#submitbtn').click(function (e) {
          e.preventDefault();  // Prevent the default form submission
          var id=parseInt($('#input').val());
           $.ajax({
               url: '@Url.Action("ConDelete", "ExamTables")',
               type: 'POST',
               data: { id: id },  // Send the serialized data
               success: function (response) {
                   $("#resultMessage").html("<div class='alert alert-success'>" + response.msg + "</div>");
                 window.location.href = response.redirectUrl;
        },
        error: function () {
            alert("error occured");
        }
    });
});
 //this is for detail----------------------------------
        $('.btn-Details').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Details", "ExamTables")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $('#header').text(response.data.student);
                        $('#ExamType').text(response.data.ExamType);
                        $('#Student').text(response.data.student);
                        $('#Teacher').text(response.data.staff);
                        $('#subject').text(response.data.subject);
                        $('#Class').text(response.data.className);
                        $('#writtenTest').text(response.data.writtenTest);
                        $('#verbalTest').text(response.data.verbalTest);
                        $('#ClassWork').text(response.data.ClassWork);
                        $('#homeWork').text(response.data.homeWork);
                        $('#Date').text(response.data.date);
                        $('#TotalScore').text(response.data.TotalScore);
                        $('#AbtainScore').text(response.data.AbtainScore);


                        // Show the modal
                        $('#detailsModal').modal('show');
                    } else {
                        alert("errore occurd")
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the details.');
                }
            });
        });
});
</script>
